<!doctype html>
<html lang="en">
<head th:replace="partials/partials.html :: head('All Resources')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<header th:replace="partials/partials.html :: header('Resources')"></header>

<!--HERO-->
<div class="hero vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="display-4">Build robust landing page now </h1>
                <p>Cat mojo lasers are tiny mice and hate dog, or flex claws on the human's belly and purr like a lawnmower or sniff catnip and act crazy but be superior yet find empty spot in cupboard and sleep all day. Human is in bath tub, emergency! drowning! meooowww! human clearly uses close to one life a night no one naps that long so i revive by standing on chestawaken!. Chase little red dot someday it will be mine!. Crash against wall but walk away like nothing happened. You are a captive audience while sitting on the toilet, pet me cats go for world domination commence midnight zoomies i is not fat, i is fluffy.</p>
                <a href="#" class="btn btn-primary">Get Started</a>
                <a href="#" class="btn btn-otline-light">About</a>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="partials/partials.html :: footer"></th:block>
<th:block th:replace="partials/partials.html :: scripts"></th:block>
</body>
</html>

<!--<a target="_blank" href="https://icons8.com/icon/9QKFk2mi6YYi/flying-duck">Flying Duck</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->

