<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials/partials.html :: head('Create Resource')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<header th:replace="partials/partials.html :: header('Create a Resource')"></header>
<main class="container">
    <form th:action="@{/resources/create}" method="POST" th:object="${resource}">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input th:field="*{title}" class="form-control" id="title" type="text" name="title" placeholder="Enter resource title">
        </div>
        <div class="mb-3">
            <label class="form-label" for="link">Link</label>
            <input th:field="*{link}" class="form-control" id="link" name="link" placeholder="Enter link">
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea th:field="*{description}" class="form-control" id="description" name="description" placeholder="Enter description of text"></textarea>
        </div>
        <div class="d-grid">
            <button class="btn btn-dark btn-block">Create Resource</button>
        </div>
    </form>
    <th:block th:replace="partials/partials.html :: scripts"></th:block>
</main>
</body>
</html>