<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/partials.html :: head('All Resources')"></head>
<style>
    .thumb {
        cursor: pointer;
    }
</style>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>

<header th:replace="partials/partials.html :: header('Resources')"></header>

<!--<main class="container">-->
<!--    <div class="row gy-4">-->
<!--        <div class="col-12 col-md-6" th:each="resource : ${resources}">-->
<!--            <article class="card">-->
<!--                <div class="card-body">-->
<!--&lt;!&ndash;                <div class="card-body" th:text="${resource.id}">&ndash;&gt;-->
<!--                    <h3 class="" th:text="${resource.title}"></h3>-->
<!--&lt;!&ndash;                    <p>By <span th:text="${resource.user.username}"></span></p>&ndash;&gt;-->
<!--                    <p>-->
<!--                        <span class="liked-posts" th:text="${#lists.size(resource.usersThatLiked)}"></span>-->
<!--                        <span th:if="${#lists.size(resource.usersThatLiked) == 1}"> like</span>-->
<!--                        <span th:if="${#lists.size(resource.usersThatLiked) != 1}"> likes</span>-->
<!--                    </p>-->

<!--                    <p th:text="${resource.description}"></p>-->
<!--                    <a th:href="@{/resources/{id}(id=${resource.id})}">View Resource</a>-->
<!--                </div>-->
<!--                <div class="d-flex">-->
<!--&lt;!&ndash;                    <a class="" th:href="@{/resources/{id}(id=${resource.id})}">Read more</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <th:block sec:authorize="isAuthenticated()">&ndash;&gt;-->
<!--                        <h3 th:if="${!user.hasLikedResource(resource)}" class="ms-auto" title="Like Post"><i th:attr="data-id=${resource.id}" class="thumb bi bi-hand-thumbs-up"></i></h3>-->
<!--                        <h3 th:if="${user.hasLikedResource(resource)}" class="ms-auto" title="Unlike Post"><i th:attr="data-id=${resource.id}" class="thumb bi bi-hand-thumbs-up-fill"></i></h3>-->
<!--                    </th:block>-->
<!--                </div>-->
<!--            </article>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->

    <main class="container">
        <div class="row gy-4">
            <div class="col-12 col-md-6" th:each="r : ${resources}">
                <article class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h3 class="card-title" th:text="${r.title}"></h3>
                            <p>
                                <span class="liked-posts" th:text="${#lists.size(r.usersThatLiked)}"></span>
                                <span th:if="${#lists.size(r.usersThatLiked) == 1}"> like</span>
                                <span th:if="${#lists.size(r.usersThatLiked) != 1}"> likes</span>
                            </p>
                        </div>
                        <p>By <span th:text="${r.user.username}"></span></p>
                        <p th:text="${#strings.abbreviate(r.description,75)}"></p>
                        <div class="d-flex">
                            <a class="" th:href="@{/resources/{id}(id=${r.id})}">Read more</a>
                            <th:block sec:authorize="isAuthenticated()">
                                <h3 th:if="${!r.user.hasLikedResource(r)}" class="ms-auto" title="Like Post"><i th:attr="data-id=${r.id}" class="thumb bi bi-hand-thumbs-up"></i></h3>
                                <h3 th:if="${r.user.hasLikedResource(r)}" class="ms-auto" title="Unlike Post"><i th:attr="data-id=${r.id}" class="thumb bi bi-hand-thumbs-up-fill"></i></h3>
                            </th:block>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </main>
    <th:block th:replace="partials/partials.html :: footer"></th:block>
    <th:block th:replace="partials/partials.html :: scripts"></th:block>


<!--<main>-->
<!--    <article th:each="r : ${resources.docs}" >-->
<!--        <h3 th:field="${r.doc_name}"></h3>-->
<!--        <p  th:field="${r.doc_type}"></p>-->
<!--&lt;!&ndash;       <button> <a th:href="@{/posts/{id}(id=${post.id})}">Update Post</a></button>&ndash;&gt;-->
<!--    </article>-->
<!--</main>-->
<script>
    // code to handle like post feature
    document.querySelectorAll('.thumb').forEach(element => element.addEventListener('click', function(e) {
        function flipThumbVisibility(e) {
            const classList = e.target.classList;
            if (classList.contains('bi-hand-thumbs-up-fill')) {
                classList.remove('bi-hand-thumbs-up-fill');
                classList.add('bi-hand-thumbs-up');
            } else {
                classList.remove('bi-hand-thumbs-up');
                classList.add('bi-hand-thumbs-up-fill');
            }
        }
        function changeLikeCount(e) {
            const likedPostsNode = e.target.parentNode.parentNode.parentNode.parentNode.querySelector('span.liked-posts');
            if (e.target.classList.contains('bi-hand-thumbs-up-fill')) {
                likedPostsNode.innerText = Number(likedPostsNode.innerText) + 1;
            } else {
                likedPostsNode.innerText = Number(likedPostsNode.innerText) - 1;
            }
        }
        const likedPostId = e.currentTarget.getAttribute("data-id");
        const options = {
            method: 'POST',
            headers: {}
        }
        const token = document.head.querySelector("meta[name=_csrf]").content;
        const header = document.head.querySelector("meta[name=_csrf_header]").content;
        options.headers[header] = token;
        fetch(`/resources/${likedPostId}/like`, options).then(() => {
            flipThumbVisibility(e);
            changeLikeCount(e);
        });

    }));


</script>


</body>
</html>