<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/partials.html :: head('All Resources')"></head>
<style>
    .bi-star {
        cursor: pointer;
    }
</style>

<body>
    <nav th:replace="partials/partials.html :: nav"></nav>

    <header th:replace="partials/partials.html :: header('All Resources')"></header>

    <form style="text-align: center" th:action="@{/search}">
        <input type="text" placeholder="Search by keyword" th:name="query"/>
        <input type="submit"/>
    </form><br>

    <div class="dropdown text-center mb-5" >
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
            Curriculum Topic
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/resources/topic/1">CSS</a>
            <a class="dropdown-item" href="/resources/topic/2">HTML</a>
            <a class="dropdown-item" href="/resources/topic/3">Javascript</a>
            <a class="dropdown-item" href="/resources/topic/4">Java</a>
            <a class="dropdown-item" href="/resources/topic/5">MySQL</a>
            <a class="dropdown-item" href="/resources/topic/6">Spring Boot</a>
            <a class="dropdown-item" href="/resources/topic/7">Capstone</a>
            <a class="dropdown-item" href="/resources/topic/8">Other</a>
        </div>
    </div><hr>

    <main class="container mt-5">
        <div class="row gy-4">
            <div class="col-12 col-md-6" th:each="r : ${resources}">
                <article class="card" style=" border-radius: 2%">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline" >
                            <h3 class="card-title"  th:text="${r.title}"></h3>
                            <div class="d-flex flex-column align-items-center">
                                <p>
                                    <span class="liked-posts" th:text="${#lists.size(r.usersThatLiked)}"></span>
                                    <span th:if="${#lists.size(r.usersThatLiked) == 1}"> like</span>
                                    <span th:if="${#lists.size(r.usersThatLiked) != 1}"> likes</span>
                                </p>
                                <th:block sec:authorize="isAuthenticated()">
                                    <h3 th:if="${!r.user.hasLikedResource(r)}" class="ms-auto" title="Like Post"><i th:attr="data-id=${r.id}" class="bi bi-star"></i></h3>
                                    <h3 th:if="${r.user.hasLikedResource(r)}" class="ms-auto" title="Unlike Post"><i th:attr="data-id=${r.id}" class="bi bi-star-fill"></i></h3>
                                </th:block>
                            </div>
                        </div>
                        <p>By <span th:text="${r.user.username}"></span></p>
                        <p th:text="${#strings.abbreviate(r.description,75)}"></p>
                        <div class="d-flex justify-content-between align-items-end">
                            <div>
                                <a class="" th:href="@{/resources/{id}(id=${r.id})}">Read more</a>
                            </div>
                            <div>
                                <a th:href="@{'/resources/topic/'+${r.curriculum_topic.id}}"><img th:src="'/images/'+${r.curriculum_topic.id}+'.png'"/></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </main>


    <th:block th:replace="partials/partials.html :: footer"></th:block>

    <th:block th:replace="partials/partials.html :: likescript"></th:block>

    <th:block th:replace="partials/partials.html :: scripts"></th:block>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>
</html>