<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/partials.html :: head('All Resources')"></head>
<!--<style>-->
<!--    .dropdown-menu-center {-->
<!--        right: auto;-->
<!--        left: 50%;-->
<!--        -webkit-transform: translate(-50%, 0);-->
<!--        -o-transform: translate(-50%, 0);-->
<!--        transform: translate(-50%, 0);}-->
<!--</style>-->
<body>
    <nav th:replace="partials/partials.html :: nav"></nav>

    <header th:replace="partials/partials.html :: header('All Resources of '+${topics.title})"></header>

    <form style="text-align: center" th:action="@{/search}">
        <input type="text" placeholder="Search by keyword" th:name="query"/>
        <input type="submit"/>
    </form><br>

    <!--    <div class="dropdown text-center mb-5" >-->
    <!--        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">-->
    <!--            Curriculum Topic-->
    <!--        </button>-->
    <!--        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
    <!--            <span><a class="dropdown-item" href="/resources/topic/1">CSS &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<img th:src="'/images/1tn.png'"/></a></span>-->
    <!--            <span><a class="dropdown-item" href="/resources/topic/2">HTML &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<img th:src="'/images/2tn.png'"/></a></span>-->
    <!--            <span><a class="dropdown-item" href="/resources/topic/3">Javascript &nbsp &nbsp &nbsp<img th:src="'/images/3tn.png'"/></a></span>-->
    <!--            <span><a class="dropdown-item" href="/resources/topic/4">Java &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<img th:src="'/images/4tn.png'"/></a></span>-->
    <!--            <span><a class="dropdown-item" href="/resources/topic/5">mySQL &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<img th:src="'/images/5tn.png'"/></a></span>-->
    <!--            <span><a class="dropdown-item" href="/resources/topic/6">Spring Boot &nbsp &nbsp<img th:src="'/images/6tn.png'"/></a></span>-->
    <!--            <span><a class="dropdown-item" href="/resources/topic/7">Capstone &nbsp &nbsp &nbsp &nbsp<img th:src="'/images/7tn.png'"/></a></span>-->
    <!--            <span><a class="dropdown-item" href="/resources/topic/8">Other &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<img th:src="'/images/8tn.png'"/></a></span>-->
    <!--        </div>-->
    <!--    </div><hr>-->

    <div class="d-flex flex-wrap justify-content-between container">
        <div class="row row-col-2 justify-content-sm-center">
            <a class="col btn btn-secondary px-3 mx-2 custom" href="/resources/topic/1">CSS &nbsp<img th:src="'/images/1tn.png'"/></a>
            <a class="col btn btn-secondary px-3 mx-2 custom" href="/resources/topic/2">HTML &nbsp<img th:src="'/images/2tn.png'"/></a>
            <a class="col btn btn-secondary px-3 mx-2 custom" href="/resources/topic/4">Java &nbsp<img th:src="'/images/4tn.png'"/></a>
            <a class="col btn btn-secondary px-3 mx-2 custom" href="/resources/topic/5">mySQL &nbsp<img th:src="'/images/5tn.png'"/></a>
            <a class="col btn btn-secondary px-3 mx-2 custom" href="/resources/topic/8">Other &nbsp<img th:src="'/images/8tn.png'"/></a>
            <a class="col btn btn-secondary px-3 mx-2 custom" href="/resources/topic/3">Javascript &nbsp<img th:src="'/images/3tn.png'"/></a>
            <a class="col btn btn-secondary px-3 mx-2 custom" href="/resources/topic/6">Spring &nbsp<img th:src="'/images/6tn.png'"/></a>
            <a class="col btn btn-secondary px-3 mx-2 custom" href="/resources/topic/7">Capstone &nbsp<img th:src="'/images/7tn.png'"/></a>
        </div>
    </div><hr>

    <main class="container">
        <div class="row gy-4">
            <div class="col-12 col-md-6" th:if="${topics.id == r.curriculum_topic.id}" th:each="r : ${resources}">
                <article class="card" style=" border-radius: 2%">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline" >
                            <h3 class="card-title"  th:text="${r.title}"></h3>
                            <div class="d-flex flex-column align-items-center">
                                <p>
                                    <span class="liked-posts" th:text="${#lists.size(r.usersThatLiked)}"></span>
                                    <span th:if="${#lists.size(r.usersThatLiked) == 1}"> like</span>
                                    <span th:if="${#lists.size(r.usersThatLiked) != 1}"> likes</span>
                                </p>
                                <th:block sec:authorize="isAuthenticated()">
                                    <h3 th:if="${!r.user.hasLikedResource(r)}" class="ms-auto" title="Like Post"><i th:attr="data-id=${r.id}" class="bi bi-star"></i></h3>
                                    <h3 th:if="${r.user.hasLikedResource(r)}" class="ms-auto" title="Unlike Post"><i th:attr="data-id=${r.id}" class="bi bi-star-fill"></i></h3>
                                </th:block>
                            </div>
                        </div>
                        <p>By <span th:text="${r.user.username}"></span></p>
                        <p th:text="${#strings.abbreviate(r.description,75)}"></p>
                        <p th:if="${not r.link.isEmpty()}"><a th:href="@{'https://' + ${r.link}}">Link to additional information!</a></p>
                        <br th:if="${r.link.isEmpty()}">
                        <br th:if="${r.link.isEmpty()}">
                        <div class="d-flex justify-content-between align-items-end">
                            <div>
                                <a class="" th:href="@{/resources/{id}(id=${r.id})}">Read more</a>
                            </div>
                            <div>
                                <a th:href="@{'/resources/topic/'+${r.curriculum_topic.id}}"><img th:src="'/images/'+${r.curriculum_topic.id}+'.png'"/></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </main>

    <form class="footer-button" th:action="@{/resources/topic/{id}(id=${topics.id})}">
        <button type="submit">Back to Top</button>
    </form>

    <th:block th:replace="partials/partials.html :: footer"></th:block>

    <th:block th:replace="partials/partials.html :: likescript"></th:block>

    <th:block th:replace="partials/partials.html :: scripts"></th:block>

</body>
</html>