<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<head th:replace="partials/partials.html :: head('View Resource')"></head>
<body>

<nav th:replace="partials/partials.html :: nav"></nav>
<header th:replace="partials/partials.html :: header(${resource.title})"></header>
<!--<main class="container">-->
    <p>User ID: <span th:text="${resource.user.username}" >></span></p>

<div class="card" th:each="doc : ${resource.docs}">
    <h5 class="card-header" th:text="${doc.docName}"></h5>
    <div class="card-body">
        <!--        <h5 class="card-title">Special title treatment</h5>-->
        <p> <td><a th:href="@{'/downloadFile/'+${doc.id}}">Download</a></td></p>
        <p class="card-text" th:text="${doc.docType}"></p>
        <div style="text-align: end">
            <!--            <a th:href="@{/posts/{id}(id=${post.id})}">Go somewhere</a>-->
        </div>
    </div>
</div>
<!--    <p>Username: <span th:text="${resource.user.username}"></span></p>-->
<!--    <p th:text="${resource.body}"></p>-->
<!--    <br>-->
<!--    <div class="show-buttons" th:object="${resource}" >-->
<!--        <form th:action="@{/resources/{id}/edit(id=*{id})}" th:method="GET" th:if="*{#authentication.getName() == user.getUsername()}">-->
<!--            <button>Edit</button>-->
<!--        </form>-->
<!--        <br>-->
<!--        <form th:action="@{/resources}" th:method="GET">-->
<!--            <button>Back to Posts</button>-->
<!--        </form>-->
<!--        <br>-->
<!--        <form th:action="@{/resources/{id}/delete(id=*{id})}" th:method="POST" th:if="*{#authentication.getName() == user.getUsername()}">-->
<!--            <button id="delete-post-btn">Delete</button>-->
<!--        </form>-->
<!--    </div>-->

    <th:block th:replace="partials/partials.html :: scripts"></th:block>
</main>
</body>
</html>