<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<head th:replace="partials/partials.html :: head('View Resource')"></head>
<body>

<nav th:replace="partials/partials.html :: nav"></nav>
<header th:replace="partials/partials.html :: header(${resource.title})"></header>

<main class="container">
    <p>Created by UserID: <span th:text="${resource.user.id}"></span></p>
    <p th:text="${resource.link}"></p>
    <p th:text="${resource.description}"></p>
    <br>
    <div>
        <h3>Resource Document(s)</h3>
        <table>
            <thead>
            <tr>
                <th>Document Id</th>
                <th>Resource Id</th>
                <th>Document Name</th>
                <th>Download Link</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <!--            <tr th:each="doc:${docs}">-->
            <tr th:if="${resource.id == doc.resource.id}" th:each="doc:${docs}">
                <td th:text="${doc.id}" />
                <td th:text="${doc.resource.id}" />
                <td th:text="${doc.docName}" />
                <td><a th:href="@{'/downloadFile/'+${doc.id}}">Download</a></td>
                <td><a th:href="@{'/deleteFile/'+${doc.resource.id}+'/'+${doc.id}}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="show-buttons" th:object="${resource}" >
        <form th:action="@{/resources/{id}/edit(id=*{id})}" th:method="GET" th:if="*{#authentication.getName() == user.getUsername()}">
            <button>Edit</button>
        </form>
        <br>
        <form th:action="@{/resources}" th:method="GET">
            <button>Back to Resources</button>
        </form>
        <br>
        <form th:action="@{/resources/{id}/delete(id=*{id})}" th:method="POST" th:if="*{#authentication.getName() == user.getUsername()}">
            <button id="delete-post-btn">Delete</button>
        </form>
    </div>

    <th:block th:replace="partials/partials.html :: scripts"></th:block>
</main>
</body>
</html>